In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,3),
                  index = list(range(1,6)),
                 columns = list("ABC"))

In [3]:
df

          A         B         C
1  0.010289 -0.152298  0.331294
2  0.018463  0.076030  0.344456
3  0.368861  0.782324  1.661828
4  0.132960 -1.098613 -2.245079
5  0.068928  0.105699 -0.187098

In [4]:
df[df.B>0]

          A         B         C
2  0.018463  0.076030  0.344456
3  0.368861  0.782324  1.661828
5  0.068928  0.105699 -0.187098

In [5]:
df.A[df.B>0] =0

In [6]:
df[df.B>0]

     A         B         C
2  0.0  0.076030  0.344456
3  0.0  0.782324  1.661828
5  0.0  0.105699 -0.187098

In [7]:
df.loc[2:3,"B":"C"]

          B         C
2  0.076030  0.344456
3  0.782324  1.661828

In [8]:
df.loc[2,"B"]

0.0760302584567242

In [9]:
df.loc[2,"B"] = 1

In [10]:
df

          A         B         C
1  0.010289 -0.152298  0.331294
2  0.000000  1.000000  0.344456
3  0.000000  0.782324  1.661828
4  0.132960 -1.098613 -2.245079
5  0.000000  0.105699 -0.187098