In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
mydata = np.random.randn(4,3)

In [4]:
mydata

array([[-1.1176304 , -0.45878297, -1.18500311],
       [-1.39164633,  1.76465065,  0.31950141],
       [-0.49595683, -0.98793987, -0.492141  ],
       [ 0.80126037, -0.053277  ,  1.2105386 ]])

In [5]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

In [7]:
df1 = pd.DataFrame(mydata,columns = list("ABC"))

In [8]:
df1

          A         B         C
0 -1.117630 -0.458783 -1.185003
1 -1.391646  1.764651  0.319501
2 -0.495957 -0.987940 -0.492141
3  0.801260 -0.053277  1.210539

In [9]:
df2 = pd.DataFrame(np.random.randn(3,3),columns = list("ABC"))

In [10]:
df2

          A         B         C
0 -1.015913 -0.542767 -1.946511
1  0.838826 -0.343220  0.573258
2 -1.084933  1.063733 -0.013121

In [11]:
df3 = pd.concat([df1,df2],axis = 0)  #先烈後行
df3

          A         B         C
0 -1.117630 -0.458783 -1.185003
1 -1.391646  1.764651  0.319501
2 -0.495957 -0.987940 -0.492141
3  0.801260 -0.053277  1.210539
0 -1.015913 -0.542767 -1.946511
1  0.838826 -0.343220  0.573258
2 -1.084933  1.063733 -0.013121

In [12]:
df3.index = range(7)

In [13]:
df3

          A         B         C
0 -1.117630 -0.458783 -1.185003
1 -1.391646  1.764651  0.319501
2 -0.495957 -0.987940 -0.492141
3  0.801260 -0.053277  1.210539
4 -1.015913 -0.542767 -1.946511
5  0.838826 -0.343220  0.573258
6 -1.084933  1.063733 -0.013121

In [14]:
df4 = pd.concat([df1,df2],axis = 1)

In [15]:
df4       #比數不夠就會顯示預設的Nan值

          A         B         C         A         B         C
0 -1.117630 -0.458783 -1.185003 -1.015913 -0.542767 -1.946511
1 -1.391646  1.764651  0.319501  0.838826 -0.343220  0.573258
2 -0.495957 -0.987940 -0.492141 -1.084933  1.063733 -0.013121
3  0.801260 -0.053277  1.210539       NaN       NaN       NaN